IHM/node_modules/
IHM/build/
IHM/.idea/workspace.xml
dataserver/node_modules/
dataserver/build/
dataserver/.idea/workspace.xml
dataserver/.idea/
dataserver/flask_djtango.log*

package-lock.json

npm-debug.log
/.idea/
/IHM/.idea/workspace.xml